fastapi
alembic
uvicorn
pydantic
psycopg2-binary
python-multipart
sqlalchemy
requests
python-dotenv
tinydb
pillow
fastapi-cors
websockets
fastapi-socketio
openai
schedule
HomeAssistant-API
openmeteo-requests
requests-cache
retry-requests
loguru
telegramify-markdown
jinja2
pymysql
plaid-python
geopy
typer
pvorca
pvleopard
gTTS